.benefits-section{
    padding-top: 50px;
}
.benefits-title{
    color: $text-color;
    text-align: center;
    font-size: 30px;
    font-family: $first-font;
    margin-bottom: 25px;
     @media screen and (min-width: 768px){
         font-size: 43px;
         margin-bottom: 30px;
    }
    @media screen and (min-width: 1200px){
        font-size: 50px;
        text-align: right;
    }
}
.stage-number{
    font-family: $first-font;
    font-size: 40px;
    color: $accent-color;
    margin-bottom: 15px;
    margin-top: 15px;
     @media screen and (min-width: 768px){
         font-size: 50px;
    }
    @media screen and (min-width: 1200px){
     font-size: 60px;   
    }
    
}
.stage-info{
    color: $text-color;
    font-family: $second-font;
     @media screen and (min-width: 768px){
         font-size: 20px;
    }
    @media screen and (min-width: 1200px){
     font-size: 25px;
     margin: 10px 0 10px 0;   
    }
}

