.benefits-section{
    padding-top: 50px;
}
.benefits-title{
    text-align: center;
    font-size: 30px;
    font-family: $first-font;
    margin-bottom: 25px;
}
.stage-number{
    font-family: $first-font;
    font-size: 40px;
    color: $accent-color;
    margin-bottom: 15px;
    margin-top: 15px;
    
}
.stage-info{
    font-family: $second-font;
}