/*form styles*/
#msform {
  width: 100%;
  margin: 50px auto;
  text-align: center;
  position: relative;
}
#msform fieldset {
  background: $text-color;
  border: 0 none;
  border-radius: 3px;
  box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
  padding: 20px 30px;
  box-sizing: border-box;
  width: 80%;
  margin: 0 10%;
  /*stacking fieldsets above each other*/
  position: relative;
}
/*Hide all except first fieldset*/
#msform fieldset:not(:first-of-type) {
  display: none;
}
/*inputs*/
#msform input:not(.form-checkbox),
#msform textarea {
  
  padding: 15px;
  width: 100%;
  box-sizing: border-box;
  font-family: $first-font;
  margin-top: 10px;
  height: 50px;
  @media screen and (min-width: 1200px) {
    height: 60px;
    margin-top: 20px;
  }
}
#msform input[type=submit],
#msform input[type=button]{
  color: $text-color;
}
/*buttons*/
#msform .action-button {
  max-width: 150px;
  background: $accent-color;
  color: $form-text-color;
  border: 0 none;
  border-radius: 5px;
  cursor: pointer;
  padding: 10px;
  margin: 10px 5px;
  text-decoration: none;
  font-size: 12px;
  @media screen and (min-width: 768px) {
    font-size: 20px;
    max-width: 250px;
    height: 70px;
  }
}
#msform .action-button:hover,
#msform .action-button:focus {
  box-shadow: 0 0 0 2px white, 0 0 0 3px $accent-color;
  outline: none;
	box-sizing: border-box;
	transition: all 0.25s ease;
	cursor: pointer;
	&:hover {
		box-shadow: 0 20px 20px -10px rgb(var(--vs-primary) / 50%);
		transform: translateY(-5px);
	}
@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
  
}
/*headings*/
.fs-title {
  color: $accent-color;
  font-size: 15px;
  text-transform: uppercase;
  margin-bottom: 10px;
  font-family: $second-font;
  @media screen and (min-width: 768px) {
    font-size: 30px;
    margin-bottom: 15px;
  }
}
/*progressbar*/
#progressbar {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
  overflow: hidden;

  /*CSS counters to number the steps*/
  counter-reset: step;
}
#progressbar li {
  list-style-type: none;
 color: $text-color;
  text-transform: uppercase;
  font-size: 11px;
  width: 40%;
  float: left;
  position: relative;
  font-family: $second-font;
  @media screen and (min-width: 768px) {
    font-size: 15px;
    font-weight: 700;
  }
}
#progressbar li:before {
  content: counter(step);
  counter-increment: step;
  width: 20px;
  line-height: 20px;
  display: block;
  font-size: 10px;
  color: #333;
  background: white;
  border-radius: 3px;
  margin: 0 auto 5px auto;
  @media screen and (min-width: 768px) {
    width: 40px;
    line-height: 40px;
    font-size: 20px;
  }
}

/*progressbar connectors*/
#progressbar li:after {
  content: "";
  width: 100%;
  height: 2px;
  background: silver;
  position: absolute;
  left: -50%;
  top: 9px;
  z-index: -1; /*put it behind the numbers*/
}
#progressbar li:first-child:after {
  /*connector not needed before the first step*/
  content: none;
}
/*marking active/completed steps green*/
/*The number of the step and the connector before it = green*/
#progressbar li.active:before,
#progressbar li.active:after {
  background: $accent-color;
  font-size: 10px;
  color: white;
  @media screen and (min-width: 768px) {
    font-size: 20px;
  }
}
.form-checkbox {
  flex: none;
  width: 20px;
  height: 20px;
  margin-right: 3px;
  @media screen and (min-width: 768px) {
    width: 30px;
    height: 30px;
    margin-right: 20px;
  }
}
.form-label {
  display: flex;
  align-items: center;
  font-family: $second-font;
  font-size: 13px;
  @media screen and (min-width: 768px) {
    font-size: 15px;
    font-weight: 700;
  }
}
.form-label:not(:last-child) {
  margin-bottom: 10px;
}
.invest-label {
  font-size: 15px;
  @media screen and (min-width: 768px) {
    font-size: 20px;
  }
}
.contacts-label {
  font-family: $second-font;
  font-size: 14px;
  margin-bottom: 20px;
}
.contacts-input {
  border: none;
  width: 80%;
  height: 40px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 5px;
  padding: 15px;
  font-family: "Roboto Mono", monospace;
}
.biz-type-input::placeholder {
  text-align: center;
  font-size: 11px;
  font-family: $second-font;
  @media screen and (min-width: 768px) {
    font-size: 20px;
    text-align: start;
  }
}
.biz-type-input {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border: none;
  border-radius: 5px;
}
