.contact-us-section{
    padding-top: 50px;
}

.contact-t-r-corner{
    transform: rotateY(180deg);
    fill: $accent-color;
    margin-left: auto;
    @media screen and (min-width: 768px){
     width: 60px;
     height: 60px;    
    }
    @media screen and (min-width: 1200px){
     width: 100px;
     height: 100px;   
    }
}
.contact-t-l-corner{
    @media screen and (min-width: 768px){
     width: 60px;
     height: 60px;    
    }
    @media screen and (min-width: 1200px){
    width: 100px;
    height: 100px;    
    }

}
.contact-us-title{
    color: $text-color;
    font-family: $first-font;
    font-size: 26px;
    text-align: center;
    @media screen and (min-width: 768px){
        font-size: 46px; 
    }
    @media screen and (min-width: 1200px){
     font-size: 52px;   
    }
}
.contact-us-info{
    color: $text-color;
    text-align: center;
    font-family: $second-font;
    margin-top: 20px;
    @media screen and (min-width: 768px){
         font-size: 20px;
    }
    @media screen and (min-width: 1200px){
     font-size: 22px;   
    }
}
.contacts-label{
    font-size: 20px;
    color: $accent-color;
    
}
