.footer{
    padding-top: 50px;
    padding-bottom: 20px;
    @media screen and (min-width: 1200px) {
        padding-top: 80px;
    }
}
.footer-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}
.footer-list{
   display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    @media screen and (min-width: 768px){
        flex-direction: unset;
    }
}

.footer-list-item{
    
    font-family: $second-font;
    @media screen and (min-width: 768px) {
        font-size: 17px;
        
    }
    @media screen and (min-width: 1200px) {
        font-size: 22px;
        
    }

}
.footer-list-item:not(:last-child){
    margin-bottom: 10px;
    @media screen and (min-width: 768px) {
        margin-right: 50px;
    }
}
.footer-list-item:first-child{
    margin-top: 10px;
}
.footer-mail-link{
    margin-top: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $text-color;
}
.footer-phone-num-link{
    display: flex;
    justify-content: center;
    align-items: center;
    color: $text-color;
}
.footer-icon{
    fill: $accent-color;
    margin-right: 4px;
}
.footer-location-link{
    color: $text-color;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-telegram-link{
    display: flex;
    justify-content: center;
    align-items: center;
    color: $text-color;
    @media screen and (min-width: 1200px) {
        margin-bottom: 15px;
    }

}