.free-oudit-section{
    padding-top: 50px;
}
.free-oudit-title{
    color: $text-color;
    text-align: center;
    font-size: 30px;
    font-family: $first-font;
    margin-bottom: 30px;
    @media screen and (min-width: 768px){
         font-size: 48px;
    }
    @media screen and (min-width: 1200px){
     font-size: 66px;   
    }
}
.free-oudit-info-container{
    color: $text-color;
    text-align: center;
    font-family: $second-font;
    font-size: 17px;
    @media screen and (min-width: 768px){
         font-size: 21px;
    }
    @media screen and (min-width: 1200px){
     margin-bottom: 40px;   
    }
}
.free-oudit-info{
    margin-bottom: 10px;
}
.free-oudit-form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.oudit-user-name{
    background-color: white;
    border: none;
    width: 250px;
    margin-bottom: 20px;
    @media screen and (min-width: 768px) {
        width: 300px;
    }
    @media screen and (min-width: 1200px){
        width: 500px;   
        height: 70px;
        font-size: 22px;
       }
    height: 50px;
    box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
    border-radius: 5px;
    padding: 15px;
    font-family: $second-font;
}
.oudit-user-phone{
    background-color: white;
    border: none;
    width: 250px;
    height: 50px;
    box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
    border-radius: 5px;
    padding: 15px;
    font-family: $second-font;
    margin-top: 15px;
    @media screen and (min-width: 768px) {
        width: 300px;
    }
    @media screen and (min-width: 1200px){
     width: 500px;   
     height: 70px;
     font-size: 22px;
    }
    
}
.free-oudit-submit{
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 50px;
    margin-top: 10px;
    box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
    font-family: $second-font;
    @media screen and (min-width: 1200px){
     height: 80px;
     font-size: 20px;
     margin-top: 30px;   
    }
    box-sizing: border-box;
	transition: all 0.25s ease;
	cursor: pointer;
	&:hover {
		box-shadow: 0 20px 20px -10px rgb(var(--vs-primary) / 50%);
		transform: translateY(-5px);
	}
    @keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
    
}
}