.contact-us {
  @media screen and (max-width: 767px) {
    width: 45px;
    height: 45px;
    margin-right: 10px;
  }
  @media screen and (min-width: 768px) {
    margin-right: 30px;
  }
  background-color: $accent-color;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 100px;
  @media screen and (min-width: 1200px) {
    display: none;
  }
}
.logo {
  width: 120px;
  height: 100px;
  @media screen and (min-width: 768px) {
    width: 230px;
    height: 150px;
  }
  @media screen and (min-width: 1200px) {
    width: 180px;
    height: 130px;
  }
}
.contac-us-svg {
  fill: $primary-white-color;
  @media screen and (min-width: 1200px) {
    display: none;
  }
  @media screen and (max-width: 767px) {
    width: 35px;
    height: 35px;
  }
}
.header-container {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;

  background-color: #000000;
  z-index: 30;
  @media screen and (min-width: 768px) {
    height: 120px;
  }
}
.navigation-list {
  display: none;
  @media screen and (min-width: 1200px) {
    display: flex;

    align-items: center;
    font-family: $first-font;
  }
}
.header-btn {
  display: none;
  @media screen and (min-width: 1200px) {
    margin-right: 0;
    margin-left: 0;
  }
}

.header-phone-link {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.25s ease;
  cursor: pointer;
  &:hover {
    box-shadow: 0 20px 20px -10px rgb(var(--vs-primary) / 50%);
    transform: translateY(-5px);
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
}
.header-phone-num {
  display: none;
  @media screen and (min-width: 1200px) {
    font-size: px;
    font-weight: 500;
    color: $text-color;
    display: block;
    font-family: $first-font;
    font-size: 22px;
  }
}
.header-phone-icon {
  display: none;
  @media screen and (min-width: 1200px) {
    display: block;
    width: 24px;
    height: 24px;
    margin-right: 10px;
    fill: $accent-color;
  }
}
.navigation-li:not(:last-child) {
  margin-right: 25px;
}
.contacts-header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.second-phone-icon {
  margin-right: 14px;
  margin-top: 10px;
}
.move-right-header{
  
  @media screen and (max-width: 1199px) {
    margin-right: 60px;
  }
}
.to-center-header{
  display: flex;
  justify-content: space-between;
  @media screen and (min-width: 1200px) {
     justify-content: center;
  }
  align-items: center;
}