
.hero-section{
    padding-top: 150px;
    position: relative;
    @media screen and (min-width: 1200px){
       padding-bottom: 30px;
    }
}
.hero-page-title{
    text-align: center;
    
    @media screen and (max-width: 767px){
        font-size: 34px;
        
    }
    @media screen and (min-width: 768px){
        font-size: 46px;
    }
    @media screen and (min-width: 1200px) {
        font-size: 64px;
        text-align: start;
        padding-left: 30px;
    }
}
.hero-wrapper-tablet{
    @media  screen and (min-width: 768px) {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    @media screen and (min-width: 1200px){
       padding: 30px;  
    }
}
.hero-income-container{
     @media screen and (min-width: 768px){
        margin-left: 10px;   
    }
}
.hero-social-netw{
    color: $accent-color;
}
.hero-sec-b-corner{
    margin-left: auto;
    display: block;
    transform: rotate(180deg);
     @media screen and (min-width: 768px){
       width: 60px;
       height: 60px;   
    }
    @media screen and (min-width: 1200px){
       width: 100px;
       height: 100px;   
    }
}
.hero-sec-t-corner{
    fill: $accent-color;
     @media screen and (min-width: 768px){
       width: 60px;
       height: 60px;   
    }
    @media screen and (min-width: 1200px){
       width: 100px;
       height: 100px;   
    }
}
.accent-color-text{
    color: $accent-color;
}
.about-us{
    font-size: 17px;
    font-family: $second-font;
    text-align: center;
     @media screen and (min-width: 768px){
        font-size: 19px;   
    }
    @media screen and (min-width: 1200px){
        font-size: 20px;
        text-align:left;   
    }
}
.call-us-form-input{
    width: 100%;
    height: 70px;
    border: none;
    background-color: white;
    padding: 8px 30px;
     @media screen and (min-width: 768px){
        height: 100px;
        font-size: 20px;   
    }
}
.call-us-form{
    margin-top: 40px;
    margin-bottom: 70px;
    padding: 15px;
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    background-color: white;
    border-radius: 5px;
    max-width: 600px;
     @media screen and (min-width: 768px){
       margin-bottom: 0px;
    }

}
.call-us-btn{
    width: 80%;
    height: 60px;
}
.hero-page-title{
    font-family:$first-font;
}
.furore-font{
    font-family: $first-font;
    @media screen and (min-width: 768px){
        font-size: 45px;   
    }
    @media screen and (min-width: 1200px) {
        font-size: 64px;
    }
}
.average-income{
    margin-top: 10px;
    font-size: 16px;
    font-weight: 700;
    font-family: $second-font;

     @media screen and (min-width: 768px){
        font-size: 18px;   
    }
    @media screen and (min-width: 1200px) {
        font-size: 20px;
        font-weight: 800;
        margin-bottom: 230px;
    }
}

// ---------------------BTN------------------
.button-9 {
  appearance: button;
  backface-visibility: hidden;
  background-color: $accent-color;
  border-radius: 6px;
  border-width: 0;
  box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset,rgba(50, 50, 93, .1) 0 2px 5px 0,rgba(0, 0, 0, .07) 0 1px 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-size: 100%;
  height: 60px;
  line-height: 1.15;
  outline: none;
  overflow: hidden;
  padding: 0 25px;
  position: relative;
  text-align: center;
  text-transform: none;
  transform: translateZ(0);
  transition: all .2s,box-shadow .08s ease-in;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  max-width: 180px;
  @media screen and (min-width: 1200px){
     max-width: 250px;   

    }

	box-sizing: border-box;
	transition: all 0.25s ease;
	cursor: pointer;
	&:hover {
		box-shadow: 0 20px 20px -10px rgb(var(--vs-primary) / 50%);
		transform: translateY(-5px);
	}

@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
}

.button-9:disabled {
  cursor: default;
}

.button-9:focus {
  box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset, rgba(50, 50, 93, .2) 0 6px 15px 0, rgba(0, 0, 0, .1) 0 2px 2px 0, rgba(50, 151, 211, .3) 0 0 0 4px;
}
