.motivation-section{
    padding-top: 50px;
     background-image: url('/images/cool-background.png');
}
.motivation-r-corner{
    transform: rotateY(180deg);
    margin-left: auto;
    @media screen and (min-width: 768px){
         width: 60px;
         height: 60px;
    }
}
.motivation-section-title{
    font-family: $second-font;
    font-size: 22px;
    text-align: center;
    @media screen and (min-width: 768px){
       font-size: 48px;
    }
}
.motivation-section-info{
    text-align: center;
    font-family: $second-font;
    font-size: 16px;
    margin-top: 24px;
    margin-bottom: 50px;
     @media screen and (min-width: 768px){
       font-size: 24px;
    }
}

.motivation-section-second-title{
    font-family: $second-font;
    font-size: 22px;
    text-align:center;
    @media screen and (min-width: 768px){
        font-size: 32px;
        text-align: start;
    }
}
.motivation-section-list{
    font-family: $second-font;
    font-size: 16px;
    @media screen and (min-width: 768px){
         font-size: 18px;
         font-weight: 800;
    }
}
.motivation-li:not(:last-child){
    margin-bottom: 20px;
}
.motivation-plus{
    color: $accent-color;
    font-size: 30px;
}
.motivation-l-corner{
    transform: rotate(-90deg);
    margin-right: auto;
    fill: $accent-color;
    @media screen and (min-width: 768px){
         width: 60px;
         height: 60px;
    }
}
.motivation-r-corner{
    transform: rotate(90deg) scaleX(-1);
    fill: $accent-color;
    @media screen and (min-width: 768px){
         width: 60px;
         height: 60px;
    }
}
.motivation-r-t-corner{
    transform: rotateY(180deg);
    margin-left: auto;
    @media screen and (min-width: 768px){
         width: 60px;
         height: 60px;
    }
}

.motivation-tablet-wrapper{
    @media screen and (min-width: 768px){
     display: flex;
    justify-content: center;
    align-items: center;    
    }
}
.motivation-l-t-corner{
    @media screen and (min-width: 768px){
         width: 60px;
         height: 60px;
    }
}