.our-cases-corner{
    transform: rotate(90deg) scaleX(-1);
    margin-left: auto;
    @media screen and (min-width: 768px){
         width: 60px;
         height: 60px;
    }
}
.our-cases-title{
    font-family: $first-font;
    font-size: 32px;
    text-align: center;
}