.services-section {
  padding-top: 50px;
}
.services-card {
  @media screen and (min-width: 768px) {
    width: 330px;
    height: 226px;
  }
  @media screen and (min-width: 1200px) {
    width: 500px;
    height: 255px;
  }
  width: 100%;
  height: 100%;
  // background-color: #fff;
  padding: 15px;
  border-radius: 5px;
  background-image: linear-gradient(
    to left top,
    #343333,
    #2b2b2b,
    #232222,
    #1a1a1a,
    #121212,
    #111111,
    #111111,
    #101010,
    #181818,
    #1f1f1f,
    #262626,
    #2e2e2e
  );
}
.services-inside-wrapper {
  display: flex;
  align-items: center;
  text-align: left;
}
.services-number {
  padding: 15px;
  color: $accent-color;
  background-color: black;
  border-radius: 5px;
  font-size: 20px;
  @media screen and (min-width: 768px) {
    font-size: 25px;
    font-weight: 700;
  }
  @media screen and (min-width: 1200px) {
    font-size: 33px;
    padding: 20px;
  }
}
.services-card-title {
  text-transform: uppercase;
  margin-left: 10px;
  font-family: $first-font;
  font-size: 20px;
  color: $accent-color;
  @media screen and (min-width: 768px) {
    font-size: 30px;
  }
  @media screen and (min-width: 1200px) {
    font-size: 45px;
  }
}
.services-details-list li::marker {
  content: "➤";
  color: $accent-color;
}
.services-details-list {
  margin-left: 6%;
  font-family: $second-font;
  font-size: 18px;
  color: $text-color;
  @media screen and (min-width: 768px) {
    font-size: 20px;
  }
  @media screen and (min-width: 1200px) {
    font-size: 25px;
  }
}
.services-details-item:not(:last-child) {
  margin-bottom: 10px;
}
.services-details-item:first-child {
  margin-top: 10px;
}
.services-list-item:not(:last-child) {
  margin-bottom: 20px;
}
.services-list {
  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
  }
  @media screen and (min-width: 1200px) {
  }
}
.services-title{
    font-size: 32px;
    color: $text-color;
    text-align: center;
    margin-bottom: 20px;
    font-family: $first-font;
    @media screen and (min-width: 768px) {
        font-size: 50px;
        margin-bottom: 25px;
    }
    @media screen and (min-width: 1200px) {
        font-size: 63px;
    }
}
.services-info{
    color: $text-color;
    text-align: center;
    font-family: $second-font;
    font-size: 16px;
    margin-top: 24px;
    margin-bottom: 50px;
     @media screen and (min-width: 768px){
       font-size: 24px;
    }
    @media screen and (min-width: 1200px){
        font-size: 28px;
        margin-bottom: 100px;
    }
}