.why-we-section{
    padding-top: 50px;
}
.why-we-title{
    color: $text-color;
    font-size: 30px;
    font-family: $second-font;
    color: $accent-color;
    text-align: center;
    margin-bottom: 30px;
    @media screen and (min-width: 768px){
     font-size: 48px;    
    }
    @media screen and (min-width: 1200px){
     font-size: 90px;   
    }
}
.why-we-card{
   background-color: white;
   margin-bottom: 25px;
   position: relative;
   padding: 15px;
   box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
    @media screen and (min-width: 768px){
        width: 200px;
        height: 230px;
    }
    @media screen and (min-width: 1200px){
     width: 350px;
     height: 300px;
     padding: 40px;   
    }
}
.why-we-card-title{
    color: $accent-color;
    font-size: 16px;
    font-family: $second-font;
    margin-bottom: 20px;
    font-weight: 800;
    @media screen and (min-width: 1200px){
     font-size: 27px;   
    }
}
.why-we-card-info{
    color: $form-text-color;
    font-size: 16px;
    font-family: $second-font;
    @media screen and (min-width: 1200px){
     font-size: 20px;
     font-weight: 600;   
    }
}
.why-we-card-number{
    position: absolute;
    right: 0;
    top: 0;
    font-family: $second-font;
    font-size: 18px;
    transform: rotate(-90deg);
    @media screen and (min-width: 768px){
     font-size: 20px;
    }
    @media screen and (min-width: 1200px){
     font-size: 32px;   
    }
}
.why-we-list{
     @media screen and (min-width: 768px){
         display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 70px;
    }

}