@font-face {
    font-family: 'MyFont1';
    src: url('/fonts/RG-SpaciousBook.ttf');
    font-display: swap;
}
@font-face {
    font-family: 'MyFont2';
    src: url('/fonts/RG-StandardMedium.ttf');
    font-display: swap;
}

.to-center {
  
   display: flex;
    justify-content: space-between;
    align-items: center

}

*:focus {
  outline: none;
}

a {
  text-decoration: none;
}
body {
 background-image: linear-gradient(to left top, #343333, #2b2b2b, #232222, #1a1a1a, #121212, #111111, #111111, #101010, #181818, #1f1f1f, #262626, #2e2e2e);
  line-height: 1.2;
  
  @media scren and (min-width: 1200px) {
    letter-spacing: 3px;
  }
  
}
.b-l-corner {
  transform: rotate(-90deg);
  margin-right: auto;
}
.b-r-corner {
  transform: rotate(90deg) scaleX(-1);
}
.t-r-corner {
  transform: rotate(90deg);
}
.t-l-corner {
  transform: rotate(270deg) scaleX(-1);
  margin-right: auto;
}
.t-l-corner-180 {
  transform: rotateY(180deg);
  margin-left: auto;
}

.contact-b-corner {
  @media screen and (min-width: 768px) {
    width: 60px;
    height: 60px;
  }
  @media screen and (min-width: 1200px){
        width: 100px;
        height: 100px;
    }
}
.tablet-corners {
  @media screen and (min-width: 768px) {
    width: 60px;
    height: 60px;
  }
  @media screen and (min-width: 1200px){
        width: 100px;
        height: 100px;
    }
}

.tablet-large-corners {
  @media screen and (min-width: 768px) {
    width: 200px;
    height: 200px;
  }
  @media screen and (min-width: 1200px){
        width: 300px;
        height: 300px;
    }
}


