@font-face {
    font-family: 'MyFont1';
    src: url('/fonts/RG-SpaciousBook.ttf');
    font-display: swap;
}
@font-face {
    font-family: 'MyFont2';
    src: url('/fonts/RG-StandardMedium.ttf');
    font-display: swap;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.intl-tel-input .country-list {
  z-index: 9999; /* Задайте бажане значення z-index */
}

body::-webkit-scrollbar {
  width: 1em;
  background-color: black;
}
 
body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
 
body::-webkit-scrollbar-thumb {
  background-color: $accent-color
}

.to-center {
  
   display: flex;
    justify-content: center;
    align-items: center

}


*:focus {
  outline: none;
}

a {
  text-decoration: none;
}
body {
 background-image: linear-gradient(to left top, #343333, #2b2b2b, #232222, #1a1a1a, #121212, #111111, #111111, #101010, #181818, #1f1f1f, #262626, #2e2e2e);
  line-height: 1.2;

  
  @media scren and (min-width: 1200px) {
    letter-spacing: 3px;
  }
  
}
.b-l-corner {
  transform: rotate(-90deg);
  margin-right: auto;
  fill: $accent-color;
}
.b-r-corner {
  transform: rotate(90deg) scaleX(-1);
}
.t-r-corner {
  transform: rotate(90deg);
  fill: $accent-color;
}
.t-l-corner {
  transform: rotate(270deg) scaleX(-1);
  margin-right: auto;
}
.t-l-corner-180 {
  fill: $accent-color;
  transform: rotateY(180deg);
  margin-left: auto;
}

.contact-b-corner {
  @media screen and (min-width: 768px) {
    width: 60px;
    height: 60px;
  }
  @media screen and (min-width: 1200px){
        width: 100px;
        height: 100px;
    }
}
.tablet-corners {
  @media screen and (min-width: 768px) {
    width: 60px;
    height: 60px;
  }
  @media screen and (min-width: 1200px){
        width: 100px;
        height: 100px;
    }
}

.tablet-large-corners {
  @media screen and (min-width: 768px) {
    width: 200px;
    height: 200px;
  }
  @media screen and (min-width: 1200px){
        width: 300px;
        height: 300px;
    }
}


